*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.container-menu{
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background: -webkit-linear-gradient(left bottom,black,#fd971f);
    opacity: .9;    
    ul{
        margin-top:40px;
        li{
            list-style: none;
            padding: 10px;
            a{
                color: white;
                font-size: 20px;
                text-decoration: none;
                position: relative;
            }
            a:before{
                position: absolute;
                content: "";
                width: 20px;
                bottom: -10px;
                height: 2px;
                background: white;
                transition: all 300ms;
            }
            a:hover:before{
                width: 120%;
            }
        }
       
    }
}

header{
    width: 100%;
    height: 100%;
    background-color: black;
}

.fa-bars{
    font-size: 20px;
    margin: 10px;
    color: white;
}

.redes-close{
    margin-top:20px;
    margin-left: 20px;
    position: absolute;
    label{
        font-size: 20px;
        left: 20px;
        color: white;
        transition: all 300ms;
        }
    label:hover{
        transform:rotate(90deg);
        }
}

